*{
    padding:0;
    margin:0;
    color:white; 
    border-width: 5px;
    border-color: yellow;
  }
 #navbar {
     height:100px;
     display: flex;
     align-items: center;
     background-color: black; 
 }
 a {
     display: flex;
     margin-right:50px;
     padding-left: 30px;  
 }
 a:hover{
     color:rgb(255, 0, 0);
 }
 #wel{
     color: red;
 }
 #logo {
     height:100px;
     width:200px;
 }
 button {
     size: 30px;
     background-color:rgb(248, 0, 0);
 }
 main{
     background-image: url("imgg.jpg");
     background-size: auto;
      text-align:center;
     background-color: beige;
  }
 footer{
     height:100pxs;
     background-color: rgb(252, 148, 3);
     color:white;
     text-align: center;
     margin-top: 0px;
 }
 #logo1{
     height:50px;
     width: 100px;
     align-items: center;
 }